# Build results
bin/
obj/
[Bb]uild/
[Ll]og/

# Visual Studio
.vs/
*.user
*.suo

# Backup and cache
*.cache
*.pidb
*.svclog

# Configuración local
appsettings.Development.json

# Archivos temporales
*.tmp
*.log
*.ide
